Node-Red/flows.json
[{"id":"83bfbaba.19a978","type":"tab","label":"Webex Teams","disabled":false,"info":""},{"id":"af5ec204.86b89","type":"comment","z":"83bfbaba.19a978","name":"Msg to Checkout-Compliance","info":"","x":160,"y":260,"wires":[]},{"id":"eed2df1.c54072","type":"Webex Teams API","z":"83bfbaba.19a978","profileConfig":"67e3800c.8bc74","apiUrl":"https://checkout-compliance-asic-q2fy20.us-south.cf.appdomain.cloud/api/cisco_spark_v1.json","resource":"messages","method":"createMessage","name":"Send MSG to Webex Room","x":880,"y":320,"wires":[[]]},{"id":"84e9cc4b.2ffcf","type":"inject","z":"83bfbaba.19a978","name":"Sample MSG test to webex teams","topic":"","payload":"{\"body\":{\"roomId\":\"Replace with your room Id\",\"text\":\"Replace with a message to your room\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":260,"wires":[["eed2df1.c54072"]]},{"id":"f9085ee6.20ec9","type":"Webex Teams API","z":"83bfbaba.19a978","profileConfig":"67e3800c.8bc74","apiUrl":"https://checkout-compliance-asic-q2fy20.us-south.cf.appdomain.cloud/api/cisco_spark_v1.json","resource":"rooms","method":"getRooms","name":"List rooms where bot belongs to","x":450,"y":100,"wires":[["682bb62c.2c08d8"]]},{"id":"682bb62c.2c08d8","type":"Webex Teams Payload Parser","z":"83bfbaba.19a978","name":"filters roomId and Title","parsers":[{"key":"id","as":""},{"key":"title","as":""}],"x":740,"y":100,"wires":[["10ea721.590018e"]]},{"id":"10ea721.590018e","type":"debug","z":"83bfbaba.19a978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":100,"wires":[]},{"id":"6394ca16.004a44","type":"comment","z":"83bfbaba.19a978","name":"THIS FLOW IS TO TEST YOUR BOT","info":"","x":160,"y":60,"wires":[]},{"id":"98d7b5f5.02fb68","type":"comment","z":"83bfbaba.19a978","name":"1) Get Webhook msg","info":"","x":120,"y":560,"wires":[]},{"id":"52bc6b54.ac15f4","type":"Webex Teams Payload Parser","z":"83bfbaba.19a978","name":"Filters MSG Id","parsers":[{"key":"id","as":"messageId"}],"x":300,"y":640,"wires":[["2e4917c9.170f78"]]},{"id":"2e4917c9.170f78","type":"Webex Teams API","z":"83bfbaba.19a978","profileConfig":"67e3800c.8bc74","apiUrl":"https://checkout-compliance-asic-q2fy20.us-south.cf.appdomain.cloud/api/cisco_spark_v1.json","resource":"messages","method":"getMessage","name":"get msg Id","x":150,"y":740,"wires":[["1ddf6a97.2fec25"]]},{"id":"99d25fca.b467e","type":"Webex Teams Payload Parser","z":"83bfbaba.19a978","name":"Filters text","parsers":[{"key":"text","as":""},{"key":"personId","as":""}],"x":570,"y":960,"wires":[["d1492ddb.07bbe"]]},{"id":"364ed304.7532fc","type":"Webex Teams Payload Parser","z":"83bfbaba.19a978","name":"Filters personId","parsers":[{"key":"personId","as":""},{"key":"name","as":""}],"x":180,"y":860,"wires":[["bc975e26.5a72f"]]},{"id":"bc975e26.5a72f","type":"Webex Teams API","z":"83bfbaba.19a978","profileConfig":"67e3800c.8bc74","apiUrl":"https://checkout-compliance-asic-q2fy20.us-south.cf.appdomain.cloud/api/cisco_spark_v1.json","resource":"people","method":"getPerson","name":"Person Id data","x":420,"y":1040,"wires":[["77037ffc.3e6bb"]]},{"id":"77037ffc.3e6bb","type":"Webex Teams Payload Parser","z":"83bfbaba.19a978","name":"Filters Display Name","parsers":[{"key":"displayName","as":""}],"x":720,"y":1040,"wires":[["d1492ddb.07bbe"]]},{"id":"21fadbd5.bb44d4","type":"debug","z":"83bfbaba.19a978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.body.text","targetType":"msg","x":1260,"y":800,"wires":[]},{"id":"1ddf6a97.2fec25","type":"switch","z":"83bfbaba.19a978","name":"filtering","property":"payload.personEmail","propertyType":"msg","rules":[{"t":"neq","v":"replace_with_your_bot_name@sparkbot.io","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":380,"y":780,"wires":[["99d25fca.b467e","364ed304.7532fc"]]},{"id":"d1492ddb.07bbe","type":"join","z":"83bfbaba.19a978","name":"join","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":910,"y":960,"wires":[["5229af3e.2cf26","b4851e30.42e5"]]},{"id":"5229af3e.2cf26","type":"debug","z":"83bfbaba.19a978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":960,"wires":[]},{"id":"f90beaf4.dd4778","type":"comment","z":"83bfbaba.19a978","name":"2) Move on if msg is not from bot itself","info":"","x":470,"y":700,"wires":[]},{"id":"37f7133a.720f9c","type":"comment","z":"83bfbaba.19a978","name":"2A) Who wrote?","info":"","x":180,"y":800,"wires":[]},{"id":"fb1b983.8a9cb68","type":"comment","z":"83bfbaba.19a978","name":"2B) What is written?","info":"","x":610,"y":900,"wires":[]},{"id":"accf4329.671c2","type":"comment","z":"83bfbaba.19a978","name":"3) Join who + what","info":"","x":870,"y":900,"wires":[]},{"id":"b4851e30.42e5","type":"change","z":"83bfbaba.19a978","name":"recreate JSON msg","rules":[{"t":"set","p":"payload.body.roomId","pt":"msg","to":"","tot":"str"},{"t":"move","p":"payload.text","pt":"msg","to":"payload.body.text","tot":"msg"},{"t":"delete","p":"payload.personId","pt":"msg"},{"t":"move","p":"payload.displayName","pt":"msg","to":"payload.body.displayName","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":800,"wires":[["21fadbd5.bb44d4","92aa6bae.732308"]]},{"id":"f12db1d2.de94","type":"comment","z":"83bfbaba.19a978","name":"5) Command interpretation","info":"","x":770,"y":600,"wires":[]},{"id":"92aa6bae.732308","type":"python-function","z":"83bfbaba.19a978","name":"Understand user's command","func":"import json\n\n\n# get payload\ntry:\n    texto = msg['payload']['body']['text']\nexcept:\n    pass    \n\n# default msg\ndefault=\"I didn't get your command. Use:\\n\"\ndefault=default+\"Checkout <ID> - start checkout and generate image.\\n\"\ndefault=default+\"Fraud <ID> - inform fraud transaction ID.\\n\"\n\n# lower input for easyness of comparison\ntexto=texto.lower()\n\n#split to parameters\nparams=texto.split(\" \")\nb=0\n\nif len(params) > 1:\n    \n    # check to see checkout word in command\n    if \"checkout\" in texto:\n        while b<len(params):\n            if params[b]=='checkout':\n                transacao=params[b+1]\n                msg['payload']=transacao\n                msg['topic']=transacao\n\n            b=b+1\n        \n        #return output to checkout function\n        return msg\n        \n    # check to see fraud word in command\n    elif \"fraud\" in texto:\n        while b<len(params):\n            if params[b]=='fraud':\n                transacao=params[b+1]\n                msg['payload']=transacao\n                msg['topic']=transacao\n            \n            b=b+1\n    \n        #outputs fraud to fraud function\n        return [None, msg]\n    \n    # if no match, default message    \n    else:\n        msg['payload']=default\n        return [None,None,msg]\n\nelse:\n    # if no match, default message\n    msg['payload']=default\n    return [None,None,msg]\n\n        \nreturn","outputs":3,"x":780,"y":660,"wires":[["21494e38.fa99d2"],["731c5be2.e94804"],["27503e7c.3f90b2"]]},{"id":"558f466c.bbcc98","type":"debug","z":"83bfbaba.19a978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":540,"wires":[]},{"id":"9f5abcb1.608b2","type":"Webex Teams Webhook","z":"83bfbaba.19a978","profileConfig":"67e3800c.8bc74","resource":"messages","event":"created","host":"http://YOUR_NODE_RED_IP_OR_FQDN:1880","name":"GET Webhook","x":100,"y":640,"wires":[["52bc6b54.ac15f4"]]},{"id":"9745c5ce.acfcd8","type":"link in","z":"83bfbaba.19a978","name":"msg to webex teams via plain JSON","links":[],"x":675,"y":220,"wires":[["eed2df1.c54072"]]},{"id":"4d7d2c27.2fead4","type":"comment","z":"83bfbaba.19a978","name":"Receive text + image and sends out to Webex Teams","info":"","x":240,"y":360,"wires":[]},{"id":"1754a327.482afd","type":"python-function","z":"83bfbaba.19a978","name":"text + image","func":"import json\n\n# Put here where you bot will send messages\nroomId=\"Replace with your Room Id\"\n\n\n# get payload\n\nvariavel=msg['payload']\n\nsepara=variavel.split('@')\n\nimagem=\"\"\n\n\nif len(separa)==2 and separa[1]!=\"\":\n    mensagem=separa[0]\n    imagem=separa[1]\n    \n    body={\n            \"body\": {\n                \"roomId\": roomId,\n                \"text\": mensagem,\n                'files': imagem\n            }\n        }\n        \n    \nelif len(separa)==1:\n    mensagem=separa[0]\n\n    body={\n        \"body\": {\n            \"roomId\": roomId,\n            \"text\": mensagem\n        }\n    }\n        \n\nelif len(separa)==0:\n    mensagem=variavel\n\n    body={\n        \"body\": {\n            \"roomId\": roomId,\n            \"text\": mensagem\n        }\n    }\n        \n#msg['payload']={ 'msg': mensagem, 'imagem':imagem }\n\nmsg['payload']=body\n\n\nreturn msg","outputs":1,"x":570,"y":400,"wires":[["aeba79e9.78fd78","eed2df1.c54072"]]},{"id":"aeba79e9.78fd78","type":"debug","z":"83bfbaba.19a978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":400,"wires":[]},{"id":"4ac669e7.071978","type":"inject","z":"83bfbaba.19a978","name":"","topic":"","payload":"Mensagem enviada com sucesso@https://spn5.meraki.com/stream/jpeg/snapshot/a2475df6b18be66cVHZWVhZTlhYzA0Yzg3NzAyNGU4NmVmOTEwYzc3ZWM1YjYxZmFiYmI0MWIwZjI3OTdkNTFmMzdmOWExY2EyNDM0ZaxBnUrue_yfiqaXWE0eSdNULCUX5JCwGsX1eu-DgXuk3Gnol-5EvW93sAP6hwi4icV7WuMRMK66qMvPPr4MzoipkpBcRw132fI4oAPJdN9-ndAMVJkvHFzRPkl_JHVzu5PDXYZbbyd391kixeWsI5boYetsVWl9aQbCT5lMkTRpcVsb2JHqah9egRLdPmEA8rZlgoB9t0GYndhfIR8nmxgCMVHh3W23eig9sBaIp_Su","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":480,"wires":[["1754a327.482afd"]]},{"id":"13dcd3f0.2d86bc","type":"link in","z":"83bfbaba.19a978","name":"payload para Webex","links":["27503e7c.3f90b2","2e9872ef.d7305e","a4817f25.3c3c4","63477e28.c3d128","56f175f5.36846c","86e7ad99.c63fc","205bec3d.9ec2b4","a78a6669.786ad8","95b5d5f5.1ef8d8"],"x":375,"y":400,"wires":[["1754a327.482afd"]]},{"id":"21494e38.fa99d2","type":"switch","z":"83bfbaba.19a978","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1170,"y":580,"wires":[["558f466c.bbcc98","7283cafb.335fc4"]]},{"id":"7283cafb.335fc4","type":"link out","z":"83bfbaba.19a978","name":"aciona Checkout","links":["c90672fb.7c1ee"],"x":1295,"y":580,"wires":[]},{"id":"1dea9c07.93e8b4","type":"comment","z":"83bfbaba.19a978","name":"4) Recreate Json","info":"","x":840,"y":760,"wires":[]},{"id":"a2b7f67.7756608","type":"debug","z":"83bfbaba.19a978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":620,"wires":[]},{"id":"44aa0ea7.93223","type":"comment","z":"83bfbaba.19a978","name":"6A) Checkout","info":"","x":1110,"y":540,"wires":[]},{"id":"bf8155e2.408588","type":"comment","z":"83bfbaba.19a978","name":"6B) Fraud","info":"","x":1100,"y":620,"wires":[]},{"id":"a56216bc.ecfe68","type":"comment","z":"83bfbaba.19a978","name":"6C) Help","info":"","x":1100,"y":720,"wires":[]},{"id":"27503e7c.3f90b2","type":"link out","z":"83bfbaba.19a978","name":"Default msg to Webex teams","links":["13dcd3f0.2d86bc"],"x":1215,"y":760,"wires":[]},{"id":"731c5be2.e94804","type":"switch","z":"83bfbaba.19a978","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1170,"y":660,"wires":[["a2b7f67.7756608","64ed6e61.dd561"]]},{"id":"64ed6e61.dd561","type":"link out","z":"83bfbaba.19a978","name":"","links":["8cc23f6b.8836d"],"x":1295,"y":660,"wires":[]},{"id":"99b2dfa1.68a4a","type":"inject","z":"83bfbaba.19a978","name":"Start","topic":"","payload":"{ }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["f9085ee6.20ec9"]]},{"id":"91c2bbe9.f4cd38","type":"comment","z":"83bfbaba.19a978","name":"INPUT 2: PUT your room ID here","info":"****","x":590,"y":360,"wires":[],"icon":"node-red/cog.svg"},{"id":"1887ce22.d6d512","type":"comment","z":"83bfbaba.19a978","name":"THIS FLOW STARTS WHEN SOMEONE SENDS A WEBEX MESSAGE TO OUR CHECKOUT BOT","info":"","x":350,"y":520,"wires":[]},{"id":"8020ba13.4af638","type":"comment","z":"83bfbaba.19a978","name":"THIS FLOW STARTS WHEN A MESSAGE SHOULD BE SENT FROM OUR BOT","info":"","x":300,"y":200,"wires":[]},{"id":"9b58ef0a.2a7d1","type":"comment","z":"83bfbaba.19a978","name":"INPUT 1: ADD YOUR BOT ID AND TOKEN HERE","info":"","x":500,"y":60,"wires":[],"icon":"node-red/cog.svg"},{"id":"3dd11b97.d1d384","type":"comment","z":"83bfbaba.19a978","name":"INPUT 3: Add your Node-Red IP or FQDN","info":"****","x":180,"y":600,"wires":[],"icon":"node-red/cog.svg"},{"id":"33445b46.a90214","type":"comment","z":"83bfbaba.19a978","name":"INPUT 4: Add your bot name","info":"****","x":440,"y":740,"wires":[],"icon":"node-red/cog.svg"},{"id":"67e3800c.8bc74","type":"Webex Teams Authentication","z":"","name":"infobot"}]